<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--                方式一：XML-Based配置Bean             -->
<!--                      XML+autowire(ByName)-->
<!--    使用autowire自动注入，不需要声明依赖关系，即properties标签-->

    <bean id="studentMapper" class="com.mapper.StudentMapperImpl"></bean>

<!--    autowire(byName)是自动寻找id值或name值为studentMapper的bean进行注入-->
<!--    因为StudentServiceImpl类中的属性名是studentMapper，所以byName的形式就需要找id或name值为studentMapper的bean-->
<!--    所以在xml文件中，bean StudentMapperImpl的id名必须是studentMapper-->
    <bean id="stuService" class="com.service.StudentServiceImpl"
          autowire="byName"></bean>

</beans>