<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--                方式一：XML-Based配置Bean             -->
<!--                      XML+constructor-->

    <bean id="stuMapper" class="com.mapper.StudentMapperImpl"></bean>

    <bean id="stuServiceConstructor" class="com.service.StudentServiceConstuctorImpl">
        <constructor-arg index="0" ref="stuMapper"/>
        <constructor-arg index="1" value="Di Guan"/>
    </bean>

</beans>